html {
  box-sizing: border-box;
  min-width: 320px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
