.button-primary {
  min-width: 72px;
  padding: 14px 8px 13px;
  border: 0;
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-black);
  border-radius: 2px;
}

.button-secondary {
  min-width: 72px;
  padding: 14px 8px 13px;
  border: 1px solid var(--color-border-gray);
  color: var(--color-font-black);
  font-weight: bold;
  background-color: transparent;
  border-radius: 2px;
}
