.header {
  background-color: #fff;
  box-shadow: 0 0 16px rgba(3 38, 0.16);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 4px 8px;
  }

  &__logo {
    width: 106px;
    height: 13px;
  }
}

.menu {
  width: calc(4 * $column);
}
