.page-stores {
  &__search-block {
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 24px;
  }

  &__search-wrap {
    margin-bottom: 24px;
  }

  &__title-wrap {
    margin-bottom: 14px;
  }

  &__delivery-wrap {
    display: flex;
    margin-right: -8px;
    margin-left: -8px;

    @include media-min-tablet {
      display: none;
    }
  }

  &__delivery-time {
    margin-right: 8px;
    margin-left: 8px;
  }

  &__delivery-address {
    width: 100%;
    margin-right: 8px;
    margin-left: 8px;
  }

  &__grid {
    margin-top: -8px;
    margin-bottom: -8px;

    @include media-min-tablet {
      display: grid;
      grid-column-gap: 16px;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__grid-card {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
