.scroll-upper {
  position: fixed;
  z-index: 10000;
  right: 16px;
  bottom: 24px;
  display: none;
  width: 64px;
  height: 64px;
  border: 0;
  background: var(--color-green-light) url('assets/icons/icon-arrow.svg') 50% 50%/16px 25px
    no-repeat;
  transition: opacity 0.3s;

  &.enter {
    display: block;
    opacity: 0;
  }

  &.enter-active {
    opacity: 1;
  }
}
