$tablet: 768px;
$desktop: 1124px;

:root {
  --color-black: #262626;
  --color-white: #fff;
  --color-gray: #626262;
  --color-green: #49a144;
  --color-green-light: #59bd5a;
  --color-dark: #3b3b3b;
  --color-font-black: #1d1d1d;
  --color-border-gray: #e0e0e0;
}
