mixin card(title, subtitle, time, url)
  .card
    figure.card__figure
      .card__img-wrap
        block
      figcaption.card__caption= title
    p.card__notice= subtitle
    span.card__deliver-time= time
