mixin footer
  .footer
    .footer__inner
      .footer__logo-wrap
        a&attributes({'href': '/'})
          img.footer__logo-img(src="./assets/logos/logo-uber-large.svg", alt="Логотип UberEats", width="192" height="20")

      .footer__hr-wrap.footer__hr-wrap--logo
        hr.common-hr

      .footer__main-content
        .footer__aside
          .footer__select-wrap
            .footer-select
              select.footer-select__select(name="ENGLISH")
                option(value="Argentina") Argentina
                option(value="Bolivia") Bolivia
                option(value="Brazil") Brazil
                option(value="Chile") Chile
          .footer__hash-wrap
            .footer__hash
              span.footer__hash-hash #
              |  UberEats
          .footer__social-wrap
            a(href="#").footer__social.footer__social--facebook
            a(href="#").footer__social.footer__social--instagram
            a(href="#").footer__social.footer__social--twitter

        nav.footer__menu-wrap
          ul.footer__menu-list
            li.footer__menu-item
              a(href="#").footer__menu-link About UberEats
            li.footer__menu-item
              a(href="#").footer__menu-link Become a&nbsp;Delivery Partner
            li.footer__menu-item
              a(href="#").footer__menu-link Become a&nbsp;Restaurant Partner
            li.footer__menu-item
              a(href="#").footer__menu-link See all&nbsp;cities
            li.footer__menu-item
              a(href="#").footer__menu-link Pricing
            li.footer__menu-item
              a(href="#").footer__menu-link Help
            li.footer__menu-item
              a(href="#").footer__menu-link FAQs

      .footer__hr-wrap.footer__hr-wrap--menu
        hr.common-hr

      .footer__stores-wrap
        .footer__stores-item-wrap
          a(href="#").footer__stores.footer__stores--apple
        .footer__stores-item-wrap
          a(href="#").footer__stores.footer__stores--android

      .footer__hr-wrap.footer__hr-wrap--badges
        hr.common-hr

      .footer__copyright-wrap
        ul.footer__copyright-list
          li.footer__copyright-item © 2017 Uber Technologies Inc.
          li.footer__copyright-item Privacy
          li.footer__copyright-item Terms
