mixin footer
  .footer
    .footer__inner
      .footer__logo-wrap
        img.footer__logo-img(src="assets/logo-uber-large.svg", alt="Логотип UberEats", width="192" height="20")

      .footer__hr-wrap.footer__hr-wrap--logo
        hr.common__hr

      .footer__main-content
        .footer__aside
          .footer__select-wrap
            .footer-select
              select.footer-select__select(name="ENGLISH")
                option(value="Argentina") Argentina
                option(value="Bolivia") Bolivia
                option(value="Brazil") Brazil
                option(value="Chile") Chile
          .footer__hash-wrap
            .footer__hash
              span.footer__hash-hash #
              |  UberEats
          .footer__social-wrap
            .footer__social.footer__social--facebook
            .footer__social.footer__social--instagram
            .footer__social.footer__social--twitter

        nav.footer__menu-wrap
          ul.footer__menu-list
            li.footer__menu-item About UberEats
            li.footer__menu-item Become a&nbsp;Delivery Partner
            li.footer__menu-item Become a&nbsp;Restaurant Partner
            li.footer__menu-item See all&nbsp;cities
            li.footer__menu-item Pricing
            li.footer__menu-item Help
            li.footer__menu-item FAQs

      .footer__hr-wrap.footer__hr-wrap--menu
        hr.common__hr

      .footer__stores-wrap
        .footer__stores-item-wrap
          .footer__stores.footer__stores--apple
        .footer__stores-item-wrap
          .footer__stores.footer__stores--android

      .footer__hr-wrap.footer__hr-wrap--badges
        hr.common__hr

      .footer__copyright-wrap
        ul.footer__copyright-list
          li.footer__copyright-item © 2017 Uber Technologies Inc.
          li.footer__copyright-item Privacy
          li.footer__copyright-item Terms
