mixin header
  .header
    .header__inner
      .header__logo-wrap
        img.header__logo(src="assets/logo-uber.svg", alt="Uber logo", width="106", height="13")
      .header__buttons-wrap
        button.button-secondary(type="button") Sign In
        button.button-primary(type="button") Register
