extends layout-main.pug
include card.pug

block content
  main.page-stores
    .common__content
      section.page-stores__search-block
        .page-stores__search-wrap
          .form-search
            label.form-search__label
              input.form-search__input(type='text' placeholder='Search for restaurant or cuisine')
        .page-stores__delivery-wrap
          .page-stores__delivery-time
            .form-input-label
              span.form-input-label__title When
              .form-input-label__content
                button.button.button--secondary
                  span ASAP
          .page-stores__delivery-address
            .form-input-label
              span.form-input-label__title To
              .form-input-label__content
                .form-input-address
                  label.form-input-address__label
                    input.form-input-address__input(type='text' value='ul. Bolshaya Dmitrovka,22')
      .page-stores__title-wrap
        h1.common__h1 Moscow Restaurants
      section.page-stores__grid-wrap
        .page-stores__grid
          .page-stores__grid-card
            +card('Макдоналдс — Газетный', '₽₽ • Бургеры', '25 - 35 Min')
              img.card__img(src='assets/restaurants/restaurant-mcdonalds.png', alt='Макдоналдс — Газетный')

          .page-stores__grid-card
            +card('DimSum & Co — ЦДМ', '₽ • Японская • Китайская • Азиатская', '40 - 50 Min')
              img.card__img(src='assets/restaurants/restaurant-dimsum.png', alt='DimSum & Co — ЦДМ')

          .page-stores__grid-card
            +card('ДвижОК — Манежная', '₽ • Американская • Европейская', '35 - 45 Min')
              img.card__img(src='assets/restaurants/restaurant-dvizhok.png', alt='ДвижОК — Манежная')

          .page-stores__grid-card
            +card('НЯ — NHA', '₽₽ • Вьетнамская', '30 - 40 Min')
              img.card__img(src='assets/restaurants/restaurant-nya.png', alt='НЯ — NHA')

          .page-stores__grid-card
            +card('Точка Дзы — Цветной', '₽₽ • Вьетнамская', '40 - 50 Min')
              img.card__img(src='assets/restaurants/restaurant-dotdzi.png', alt='Точка Дзы — Цветной')

          .page-stores__grid-card
            +card('Cinnabon', '₽ • Выпечка • Десерты • Капкейки', '25 - 35 Min')
              img.card__img(src='assets/restaurants/restaurant-cinnabon.png', alt='Cinnabon')

          .page-stores__grid-card
            +card('PIZZELOVE', '₽₽ • Пицца', '15 - 25 Min')
              img.card__img(src='assets/restaurants/restaurant-pizzelove.png', alt='PIZZELOVE')

          .page-stores__grid-card
            +card('Zю кафе — Тверская', '₽₽ • Японская', '25 - 35 Min')
              img.card__img(src='assets/restaurants/restaurant-zu.png', alt='Zю кафе — Тверская')

          .page-stores__grid-card
            +card('Bar BQ Cafe — Манежная', '₽₽₽ • Европейская', '30 - 40 Min')
              img.card__img(src='assets/restaurants/restaurant-barbq.png', alt='Bar BQ Cafe — Манежная')
