include pug/header.pug
include pug/footer.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Uber Eats
  body
    +header()
    include pug/page-stores.pug
    +footer()
    include pug/scroll-upper.pug

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    script(src="index.ts")
