extends pug/layout-main.pug
include pug/restaurant-card.pug

block meta
  title Uber Eats - Трактир «Пушкин»
  meta(
    name="description"
    content="Ресторан Трактир «Пушкин», вкуснейшие блюда какой-то там кухни"
    )
  meta(name="keywords" content="ресторан, пушкин, пицца, пятница, ужин")

  meta(property='og:type', content='website')
  meta(property='og:locale', content='ru_RU')
  meta(property='og:title', content='Трактир «Пушкин»')
  meta(property='og:description', content='Выбери себе еду с доставкой на дом, Трактир «Пушкин»')
  meta(property='og:url', content='http://localhost:1234/')
  meta(property='og:image', content='http://localhost:1234/frontend-cover-new-year-fb.png')
  meta(property='vk:image', content='http://localhost:1234//frontend-cover-new-year-vk.png')
  meta(name='twitter:card', content='localhost')
  meta(name='twitter:site', content='@localhost')
  meta(name='twitter:creator', content='@localhost')

block content
  main.page-restaurant
    section.page-restaurant__bg
      .page-restaurant__bg-inner.common-content
        .page-restaurant__card
          h1.page-restaurant__card-title Трактир «Пушкин»
          .page-restaurant__card-text-wrap
            p.page-restaurant__card-subtitle ₽₽₽ • Европейская
            .page-restaurant__card-deliver-time 40 - 50 Min
    nav.page-restaurant__menu
        ul.page-restaurant__menu-inner.common-content
          li.page-restaurant__menu-item
            a(href="#").page-restaurant__menu-link.page-restaurant__menu-link--active Закуски
          li.page-restaurant__menu-item
            a(href="#").page-restaurant__menu-link Салаты
          li.page-restaurant__menu-item
            a(href="#").page-restaurant__menu-link Супы
          li.page-restaurant__menu-item
            a(href="#").page-restaurant__menu-link Горячие блюда
          li.page-restaurant__menu-item
            a(href="#").page-restaurant__menu-link Гарниры
          li.page-restaurant__menu-item
            a(href="#").page-restaurant__menu-link Десерты
    section.page-restaurant__inner.common-content
      .page-restaurant__title-wrap
        h2.page-restaurant__title Закуски
      .page-restaurant__grid
        .page-restaurant__grid-card-wrap
          +restaurant-card('Сельдь на бородинском хлебе', 'С яйцом и огурцом', '240 ₽', './assets/restaurant/seld.jpg', './assets/restaurant/seld@2x.jpg 2x, ./assets/restaurant/seld@3x.jpg 3x')

        .page-restaurant__grid-card-wrap
          +restaurant-card('Соленья ассорти', null, '320 ₽', './assets/restaurant/assort.jpg', './assets/restaurant/assort@2x.jpg 2x, ./assets/restaurant/assort@3x.jpg 3x')

        .page-restaurant__grid-card-wrap
          +restaurant-card('Грибы маринованные', null, '300 ₽', './assets/restaurant/mushrooms.jpg', './assets/restaurant/mushrooms@2x.jpg 2x, ./assets/restaurant/mushrooms@3x.jpg 3x')

        .page-restaurant__grid-card-wrap
          +restaurant-card('Сало домашнее с горчицей', null, '320 ₽', './assets/restaurant/salo.jpg', './assets/restaurant/salo@2x.jpg 2x, ./assets/restaurant/salo@3x.jpg 3x')

        .page-restaurant__grid-card-wrap
          +restaurant-card('Малосольная семга', null, '390 ₽', './assets/restaurant/semga.jpg', './assets/restaurant/semga@2x.jpg 2x, ./assets/restaurant/semga@3x.jpg 3x')

        .page-restaurant__grid-card-wrap
          +restaurant-card('Язык говяжий с хреном', null, '350 ₽', './assets/restaurant/tongue.jpg', './assets/restaurant/tongue@2x.jpg 2x, ./assets/restaurant/tongue@3x.jpg 3x')
