extends pug/layout-main.pug
include pug/card.pug

block meta
  title Uber Eats - большой выбор ресторанов и кафе
  meta(
    name="description"
    content="Огромный выбор ресторанов на любой вкус. Корейская, Японская и множество других"
    )
  meta(name="keywords" content="ресторан, суши, пицца, пятница, ужин")

  meta(property='og:type', content='website')
  meta(property='og:locale', content='ru_RU')
  meta(property='og:title', content='Огромный выбор ресторанов')
  meta(property='og:description', content='Выбери себе еду с доставкой на дом, из огромного выбора ресторанов')
  meta(property='og:url', content='http://localhost:1234/')
  meta(property='og:image', content='http://localhost:1234/frontend-cover-new-year-fb.png')
  meta(property='vk:image', content='http://localhost:1234/frontend-cover-new-year-vk.png')
  meta(name='twitter:card', content='localhost')
  meta(name='twitter:site', content='@localhost')
  meta(name='twitter:creator', content='@localhost')

block content
  main.page-stores
    section.common-content.page-stores__content
      .page-stores__search-block
        .page-stores__search-wrap
          .form-search
            label.form-search__label
              input.form-search__input(type='text' placeholder='Search for restaurant or cuisine')
        .page-stores__delivery-wrap
          .page-stores__delivery-time
            .form-input-label
              span.form-input-label__title When
              .form-input-label__content
                label.checkbox
                  input.checkbox__input(type="checkbox")
                  span.checkbox__text.button.button--checkbox.button--secondary ASAP
          .page-stores__delivery-address
            .form-input-label
              span.form-input-label__title To
              .form-input-label__content
                .form-input-address
                  label.form-input-address__label
                    input.form-input-address__input(type='text' value='ul. Bolshaya Dmitrovka,22')
      .page-stores__title-wrap
        h1.common-h1 Moscow Restaurants Joke
      .page-stores__grid-wrap
        .page-stores__grid
          a.page-stores__grid-card(href="page-restaurant.pug")
            +card('Макдоналдс — Газетный', '₽₽ • Бургеры', '25 - 35 Min', './assets/restaurants/restaurant-mcdonalds.png','./assets/restaurants/restaurant-mcdonalds@2x.png 2x, ./assets/restaurants/restaurant-mcdonalds@3x.png 3x')

          a.page-stores__grid-card(href="page-restaurant.pug")
            +card('DimSum & Co — ЦДМ', '₽ • Японская • Китайская • Азиатская', '40 - 50 Min', './assets/restaurants/restaurant-dimsum.png', './assets/restaurants/restaurant-dimsum@2x.png 2x, ./assets/restaurants/restaurant-dimsum@3x.png 3x')

          a.page-stores__grid-card(href="page-restaurant.pug")
            +card('ДвижОК — Манежная', '₽ • Американская • Европейская', '35 - 45 Min', './assets/restaurants/restaurant-dvizhok.png', './assets/restaurants/restaurant-dvizhok@2x.png 2x, ./assets/restaurants/restaurant-dvizhok@3x.png 3x')

          a.page-stores__grid-card(href="page-restaurant.pug")
            +card('НЯ — NHA', '₽₽ • Вьетнамская', '30 - 40 Min', './assets/restaurants/restaurant-nya.png', './assets/restaurants/restaurant-nya@2x.png 2x, ./assets/restaurants/restaurant-nya@3x.png 3x')

          a.page-stores__grid-card(href="page-restaurant.pug")
            +card('Точка Дзы — Цветной', '₽₽ • Вьетнамская', '40 - 50 Min', './assets/restaurants/restaurant-dotdzi.png', './assets/restaurants/restaurant-dotdzi@2x.png 2x, ./assets/restaurants/restaurant-dotdzi@3x.png 3x')

          a.page-stores__grid-card(href="page-restaurant.pug")
            +card('Cinnabon', '₽ • Выпечка • Десерты • Капкейки', '25 - 35 Min', './assets/restaurants/restaurant-cinnabon.png', './assets/restaurants/restaurant-cinnabon@2x.png 2x, ./assets/restaurants/restaurant-cinnabon@3x.png 3x')

          a.page-stores__grid-card(href="page-restaurant.pug")
            +card('PIZZELOVE', '₽₽ • Пицца', '15 - 25 Min', './assets/restaurants/restaurant-pizzelove.png', './assets/restaurants/restaurant-pizzelove@2x.png 2x, ./assets/restaurants/restaurant-pizzelove@3x.png 3x')

          a.page-stores__grid-card(href="page-restaurant.pug")
            +card('Zю кафе — Тверская', '₽₽ • Японская', '25 - 35 Min', './assets/restaurants/restaurant-zu.png', './assets/restaurants/restaurant-zu@2x.png 2x, ./assets/restaurants/restaurant-zu@3x.png 3x')

          a.page-stores__grid-card(href="page-restaurant.pug")
            +card('Bar BQ Cafe — Манежная', '₽₽₽ • Европейская', '30 - 40 Min', './assets/restaurants/restaurant-barbq.png', './assets/restaurants/restaurant-barbq@2x.png 2x, ./assets/restaurants/restaurant-barbq@3x.png 3x')
