.footer {
  background-color: var(--color-black);

  &__inner {
    max-width: var(--max-content-width);
    padding: 56px 8px;
    margin-right: auto;
    margin-left: auto;

    @include media-min-tablet {
      padding-bottom: 40px;
    }
  }

  &__logo-wrap {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  &__logo-img {
    width: 192px;
    height: 20px;
  }

  &__hr-wrap {
    &--logo {
      margin-bottom: 32px;
    }

    &--menu {
      margin-bottom: 24px;

      @include media-min-tablet {
        margin-bottom: 40px;
      }
    }

    &--badges {
      margin-bottom: 40px;
    }
  }

  &__main-content {
    margin-bottom: 40px;

    @include media-min-tablet {
      display: grid;
      margin-bottom: 48px;
      grid-template-columns: 1fr 2fr;
    }
  }

  &__aside {
    margin-bottom: 40px;

    @include media-min-tablet {
      margin-bottom: 0;
    }
  }

  &__select-wrap {
    margin-bottom: 32px;
  }

  &__hash-wrap {
    margin-bottom: 16px;
  }

  &__hash {
    color: var(--color-white);
    font-size: 16px;
    line-height: 19px;
  }

  &__hash-hash {
    color: var(--color-green);
  }

  &__social-wrap {
    display: flex;
    justify-content: flex-start;
    margin-right: -6px;
    margin-left: -6px;
  }

  &__social {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    margin-left: 6px;
    transition-duration: 0.2s;
    transition-property: opacity;

    &:hover {
      opacity: 0.7;
    }

    &--facebook {
      background-image: url('../assets/social-icons/social-icons-facebook.svg');
    }

    &--instagram {
      background-image: url('../assets/social-icons/social-icons-instagram.svg');
    }

    &--twitter {
      background-image: url('../assets/social-icons/social-icons-twitter.svg');
    }
  }

  &__menu-wrap {
  }

  // to-do: найти как заполнять по столбцам а не по строкам
  &__menu-list {
    @include media-min-tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__menu-item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__menu-link {
    color: var(--color-white);
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: opacity, color;

    &:hover {
      color: var(--color-gray);
    }
  }

  &__stores-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    @include media-min-tablet {
      margin-bottom: 40px;
    }
  }

  &__stores-item-wrap {
    margin-right: 12px;
    margin-left: 12px;
  }

  &__stores {
    display: block;
    height: 36px;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.2s;
    transition-property: opacity;

    &:hover {
      opacity: 0.8;
    }

    &--apple {
      width: 109px;
      background-image: url('../assets/badges/badge-appstore.png');
    }

    &--android {
      width: 124px;
      background-image: url('../assets/badges/badge-android.png');
    }
  }

  &__copyright-list {
    @include media-min-tablet {
      display: flex;
      justify-content: space-between;
      padding-right: 112px;
    }
  }

  &__copyright-item {
    margin-bottom: 24px;
    color: var(--color-white);
    font-size: 11px;
    line-height: 12px;

    @include media-min-tablet {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
