.form-search {
  &__label {
    position: relative;
    display: block;
    height: 40px;
    border-bottom: 1px solid rgba(117, 117, 177, 0.3);

    @media (--media-min-tablet) {
      height: 56px;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 4px;
      width: 16px;
      height: 16px;
      background: url('../assets/icons/icon-search.svg') 0 0 / cover no-repeat;
      pointer-events: none;
      transform: translateY(-50%);

      @media (--media-min-tablet) {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 16px 0 24px;
    border: none;

    @media (--media-min-tablet) {
      padding-left: 34px;
    }

    &::placeholder {
      color: var(--color-gray);
      opacity: 0.5;
    }
  }
}

.form-input-label {
  &__title {
    display: block;
    margin-bottom: 8px;
    color: var(--color-gray);
    font-size: 11px;
    line-height: 13px;
  }

  &__content {
  }
}

.form-input-address {
  &__label {
    position: relative;
    z-index: 1;
    display: block;
    height: 40px;
    border: 1px solid var(--color-border-gray);

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 12px;
      left: 11px;
      width: 16px;
      height: 16px;
      background: url('../assets/icons/icon-location.svg') 50% 50%/14px 16px no-repeat;
      pointer-events: none;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 8px;
    padding-left: 35px;
    border: none;
    color: var(--color-font-black);
  }
}
