.page-stores {
  &__content {
    padding: 40px 8px 10px;
  }

  &__search-block {
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 24px;

    @include media-min-tablet {
      margin-bottom: 56px;
    }
  }

  &__search-wrap {
    margin-bottom: 24px;

    @include media-min-tablet {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__title-wrap {
    margin-bottom: 14px;
  }

  &__delivery-wrap {
    display: flex;
    margin-right: -8px;
    margin-left: -8px;

    @include media-min-tablet {
      display: none;
    }
  }

  &__delivery-time {
    margin-right: 8px;
    margin-left: 8px;
  }

  &__delivery-address {
    width: 100%;
    margin-right: 8px;
    margin-left: 8px;
  }

  &__grid-wrap {
    @include media-min-tablet {
      margin-bottom: 48px;
    }
  }

  &__grid {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr;

    @include media-min-tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include media-min-desktop {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__grid-card {
    text-decoration: unset;
    transition-duration: 0.2s;
    transition-property: transform, box-shadow;

    @include media-min-desktop {
      &:hover {
        transform: translateY(-1px);
      }
    }
  }
}
